* {
    padding: 0;
    box-sizing: content-box;
    margin: 0;
}
body {
    width: auto;
    background-color: #DDCACA;
    display: block;
}

/* NAVBAR */
.nav {
  display: flex;
  will-change: transform;
  align-items: center;
  position: fixed;
  height: 80px;
  top: 0;
  width: 100%;
  background-color: #FF2222;
  z-index: 10000;
}
.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:100%;
}
.nav .nav-item {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #980000;
}
.nav .nav-item a {
    color: #fff;
    text-decoration: none;
    font-size: 32px;
}

/* PAGINA ACTIVA */
.active {
    border: 5px solid #980000;
    background-color: #980000;
}

/* CONTENIDO */
main {
    margin-top: 100px;
    margin-left: 80px; /* espacio igual al ancho del nav */
    width: 100% /* evita overflow horizontal */
}