{% extends 'master.html'%}

{% block title %}Records{% endblock %}

{% block content %}

    <h2>Records</h2>

    <section class="recordCardsContainer">
        {% for record in records %}
        <div class="recordContainer">
            <h3>{{ record.name_chemical }}</h3>
            <p>{{ record.description }}</p>
            <img src="{{ record.qr_link }}"> <!-- Colocar ruta de QR -->
            <ul>
                <li>Formule: {{ record.formule}}</li>
                <li>Date: {{ record.date_record}}</li>
            </ul>
        </div>
        {% endfor %}
        

    </section>
    
{% endblock %}